@charset "utf-8";
.redcolor {
    color: #c81623 !important;
}

.w {
    width: 1090px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
}

.header .logo .link1 {
    display: block;
}

.header .logo .link2 {
    position: absolute;
    right: 0;
    top: 10px;
    background: white;
}

.link2 b {
    display: block;
    width: 100px;
    height: 40px;
}

.cart-search {
    float: right;
    border: 2px solid #c91623;
    height: 24px;
    margin-top: 20px;
    overflow: hidden;
}

.cart-search #search {
    width: 260px;
    height: 18px;
    padding: 3px 5px;
    color: rgb(153, 153, 153);
    float: left;
}

.cart-search #btn {
    width: 48px;
    height: 24px;
    float: left;
    background: #c91623;
    color: white;
    text-align: center;
    font-weight: 700;
}

.empty-cart {
    height: 98px;
    padding: 80px 0 120px;
    color: #333;
}

.empty-cart-msg {
    height: 98px;
    line-height: 20px;
    font-size: 14px;
    padding-left: 341px;
    padding-top: 25px;
}

.empty-cart-msg a {
    display: block;
    color: #005ea7;
}

.cart-top {
    margin-top: 10px;
}

.cart-top-left {
    height: 26px;
    font-size: 16px;
    line-height: 36px;
    float: left;
    font-weight: 700;
}

.cart-top-left a {
    color: #e4393c;
}

.cart-top-left a em {
    margin-right: 5px;
}

.cart-top-right {
    float: right;
    margin-bottom: 10px;
}

.cart-top-right span {
    height: 26px;
    line-height: 26px;
    float: left;
}

.cart-top-right .jdarea {
    height: 26px;
    float: left;
}

.jdarea .areawrap {
    float: left;
    position: relative;
    top: 0;
    height: 23px;
    background: #fff;
    border: 1px solid #CECBCE;
    padding: 0 20px 0 4px;
    line-height: 23px;
    overflow: hidden;
}

.areawrap b {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 24px;
    background-position: 0 0;
    overflow: hidden;
}

.cart-top .footline {
    clear: both;
    height: 1px;
    background: #e0e0e0;
    position: relative;
}

.footline .line {
    width: 80px;
    height: 2px;
    background: #e4393c;
    position: absolute;
    z-index: 2;
}

.cart-wrap {
    background: #fff;
    margin-bottom: 20px;
}

.cart-thead {
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-col {
    float: left;
}

.t-checkbox {
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}

.t-goods {
    width: 208px;
}

.t-props {
    width: 140px;
    height: 32px;
    padding: 0 20px;
    text-align: right;
}

.t-prices {
    width: 120px;
    padding-right: 40px;
    text-align: right;
    height: 32px;
}

.t-quantity {
    text-align: center;
    width: 80px;
}

.t-sum {
    width: 100px;
    padding-right: 40px;
    text-align: right;
}

.cart-item-list {
    margin-bottom: 20px;
}


/* 商品类表 */

.shop {
    margin-top: 10px;
    padding: 20px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #f9d2d3;
}

.shop .shop-checkbox input {
    display: inline-block;
    width: 15px;
    height: 15px;
    color: #c91623;
    margin-top: 40px;
}

.shop .shop-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shop .shop-info img {
    background-color: #f4f4f4;
    width: 98px;
    height: 98px;
}

.shop-info-right {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shop-info .shop-info-right {
    padding: 10px 0 20px 20px;
}

.shop-info .shop-info-right .s-info-r-left {
    width: 150px;
}

.s-info-r-mid {
    width: 150px;
}

.shop-info .shop-info-right .s-info-r-left p>a {
    font-size: 14px;
    color: black;
}

.s-info-r-right a {
    display: block;
    width: 80px;
    line-height: 20px;
    font-size: 14px;
}

.s-info-r-right p>a:hover {
    color: #b4a078;
}

.s-info-r-right>a {
    padding-top: 5px;
}

.s-info-r-right>a:hover {
    color: #c81623;
}

.shop-info .shop-info-right .s-info-r-left p>a:hover {
    color: #b4a078;
}

.shop-info .shop-info-right .s-info-r-left>a {
    font-size: 12px;
}

.shop .shop-ex {
    float: right;
    font-weight: 400;
}

.shop .shop-ex span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -3px 0 0 5px;
    vertical-align: middle;
}

.item-list {
    border-style: solid;
    border-width: 2px 1px 1px;
    border-color: #aaa #f1f1f1 #f1f1f1;
    background: #fff;
}

.item-head {
    line-height: 26px;
    padding: 5px 10px;
    background-color: #fffbf0;
    line-height: 43px;
}

.item-head .header-left {
    width: 750px;
    line-height: 26px;
}

.header-left-p1 {
    color: #666;
}

.header-left-p1 span {
    margin: 0 10px 0 5px;
    padding: 1px 10px;
    border: 1px solid #f48719;
    background: rgb(196, 54, 54);
    color: white;
    position: relative;
}

.header-left-p1 span b {
    position: absolute;
    display: block;
    width: 5px;
    height: 6px;
    left: -1px;
    bottom: -5px;
}

.header-left-p2 {
    margin-left: 20px;
    padding: 0 5px;
    border-radius: 2px;
    background: #e74649;
    color: white;
    display: inline-block;
    height: 19px;
    line-height: 19px;
}

.header-price {
    width: 100px;
    float: left;
    text-align: right;
}

.goods-item {
    padding: 0 10px 0 40px;
    position: relative;
}

.goods-item-sele {
    background: #fff4e8;
}

.goods-info {
    border-top: 1px solid #f1f1f1;
    overflow: hidden;
}

.cell {
    float: left;
}

.b-checkbox {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 20px;
    padding: 15px 0 10px 0;
}

.goods-item .cart-checkbox input {
    position: absolute;
    z-index: 2;
}

.cart-checkbox .line-circle {
    position: absolute;
    left: 2px;
    top: -5px;
    display: block;
    width: 7px;
    height: 29px;
}

.goods-item .b-goods {
    width: 300px;
    padding: 15px 0 10px 0;
}

.b-goods .goods-name .goods-pic {
    width: 82px;
    height: 82px;
    margin-right: 10px;
    border: 1px solid #eee;
    float: left;
}

.b-goods .goods-name .goods-pic img {
    width: 80px;
    height: 80px;
}

.goods-d-info {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.goods-ex {
    margin-top: 2px;
}

.goods-ex .promise {
    margin: 0 10px 0 0;
    display: block;
    min-height: 18px;
    line-height: 18px;
    margin-bottom: 2px;
}

.promise i {
    display: inline-block;
    width: 17px;
    height: 16px;
    vertical-align: middle;
}

.promise a {
    display: inline-block;
    padding: 1px 4px 0 7px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
}

.b-props {
    height: 80px;
    padding: 15px 10px 0 10px;
    overflow: hidden;
}

.b-props .prop-text {
    width: 160px;
}

.b-price {
    width: 120px;
    padding: 15px 40px 10px 0;
    overflow: hidden;
    text-align: right;
}

.b-price .sales-promotion {
    display: block;
    width: 53px;
    border: 1px solid #f9d2d3;
    color: #e4393c;
    height: 18px;
    text-align: left;
    line-height: 17px;
    padding: 0 15px 0 8px;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    float: right;
    overflow: hidden;
    position: relative;
}

.sales-promotion b {
    display: inline-block;
    width: 7px;
    height: 4px;
    position: absolute;
    right: 8px;
    top: 8px;
}

.b-quantity {
    width: 80px;
    padding: 15px 0 10px;
}

.b-quantity .quantity-form {
    position: relative;
    overflow: hidden;
    height: 20px;
    border: 1px solid #cacbcb;
}

.quantity-form a {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    /* float: left; */
}

.quantity-form .quantity-down {
    border-right: 1px solid #cacbcb;
}

.quantity-form .quantity-add {
    border-left: 1px solid #cacbcb;
}

.quantity-form input {
    width: 44px;
    height: 22px;
    float: left;
    text-align: center;
    background: white;
}

.quantity-text {
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.b-sum {
    width: 100px;
    height: 20px;
    padding: 15px 40px 15px 0;
    text-align: right;
}

.b-sum strong {
    color: #333;
    font-weight: 700;
    font-size: 14px;
}

.b-action {
    padding: 15px 0 10px 0;
}

.b-action a {
    display: block;
    width: 75px;
    height: 20px;
}

#cart-floatbar {
    width: 1090px;
    height: 70px;
    border: 1px solid #f0f0f0;
    background: #ddd;
    position: relative;
}

.select-all {
    float: left;
    line-height: 70px;
    padding-left: 20px;
}

.operation {
    float: left;
    line-height: 70px;
    width: 310px;
}

.operation a {
    margin-left: 40px;
    display: inline-block;
    height: 50px;
}

.operation a:hover {
    color: #f48719;
}

.operation a:first-child:hover {
    color: red;
}


/* 商品合计 */

.btn-area a {
    display: block;
    width: 120px;
    line-height: 69px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #c0ae8a;
}

.btn-area a:hover {
    background-color: #dbc9a3;
}

.price-sum-l p,
.price-sum-r p {
    line-height: 28px;
    color: #999;
    font-size: 14px;
}

.price-sum-l {
    margin-left: 100px;
}

.price-sum-r {
    padding-left: 40px;
    border-left: 1px solid #ccc;
}

.price-sum {
    height: 70px;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-sum .totalprice i {
    font-size: 18px;
    color: #e4393c;
    font-weight: 700;
}

.price-sum .totalprice {
    font-size: 15px;
    color: black
}

.price-sum-r .totalsave {
    color: #d3282d;
}

.price-sum-r .totalsave:hover {
    text-decoration: underline;
}