@charset "utf-8";
.m-crumbs {
    font-size: 12px;
    color: #333;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.m-crumbs a {
    color: #333;
}

.m-crumbs span:first-of-type {
    margin: 0 5px;
    color: #999;
    font-size: 12px;
}

.m-crumbs span:last-of-type {
    color: #999;
}

.m-focus {
    height: 310px!important;
    margin-bottom: 30px!important;
}

.m-focus .slider {
    position: relative;
    width: 1090px;
    height: 310px;
    overflow: hidden;
}

.m-focus .slider:hover span {
    opacity: 0.7;
}

.m-focus .slider .slider_list {
    width: 5000px;
    position: absolute;
}

.m-focus .slider .slider_list li {
    float: left;
    display: none;
}

.m-focus .slider span {
    position: absolute;
    font-size: 1.5em;
    padding: 15px;
    top: 140px;
    left: 10px;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    background-color: #b4a078;
    opacity: 0;
}

.m-focus .slider span:hover {
    opacity: 1;
}

.m-focus .slider span:last-of-type {
    left: 1026px;
}

.m-focus .slider span:last-of-type:hover {
    opacity: 1;
}

.m-focus .slider .point {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    width: 200px;
    line-height: 18px;
    top: 280px;
    left: 500px;
}

.m-focus .slider .point li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
    float: left;
    border: 1px solid #bebebe;
    position: relative;
    top: 4px;
}

.m-focus .active {
    box-sizing: content-box;
    top: 0!important;
    background-color: #a7936e!important;
    border: 4px solid #dfcead!important;
}

.m-focus .show {
    display: block!important;
}