.j-main {
  width: 1090px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}
.j-main .m-top {
  font-size: 12px;
  line-height: 1;
  color: #333333;
  padding: 20px 0;
}
.j-main .d-header {
  overflow: hidden;
}
.j-main .h-left {
  float: left;
  width: 524px;
  overflow: hidden;
}
.j-main .h-left .h-view {
  position: relative;
  background: #000;
  float: left;
  width: 430px;
  height: 430px;
  border: 1px solid #e8e8e8;
  margin-right: 16px;
}
.j-main .h-left .h-view img {
  display: block;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.j-main .h-left .h-list {
  position: relative;
  float: right;
  overflow: hidden;
}
.j-main .h-left .h-list li {
  width: 78px;
  height: 78px;
  overflow: hidden;
  margin-bottom: 10px;
  vertical-align: top;
  cursor: pointer;
}
.j-main .h-left .h-list li a {
  display: block;
  width: 78px;
  height: 78px;
  border: 1px solid #e8e8e8;
}
.j-main .h-left .h-list li a img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  cursor: pointer;
}
.j-main .h-left .h-list li a:hover {
  margin: 0;
  border: 2px solid #b4a078;
}
.j-main .h-right {
  float: right;
  width: 566px;
  padding-left: 62px;
  position: relative;
}
.j-main .h-right .r-title {
  overflow: hidden;
  margin-bottom: 20px;
}
.j-main .h-right .r-title .r-name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 7px;
  position: relative;
}
.j-main .h-right .r-title .r-name .r-comment {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.2;
  text-align: center;
  z-index: 1;
}
.j-main .h-right .r-title .r-name .r-comment .r-span1 {
  font-size: 20px;
}
.j-main .h-right .r-title .r-name .r-comment .r-span2 {
  font-size: 13px;
}
.j-main .h-right .r-title .r-name .r-comment .r-span2:hover {
  color: #b4a078;
}
.j-main .h-right .r-title .r-desc {
  width: 300px;
  font-size: 14px;
  color: #999;
  line-height: 20px;
}
.j-main .h-right .r-main {
  background: #f5f3ef;
  border-top: 1px dotted #dedede;
  border-bottom: 1px dotted #dedede;
  padding: 0 0 13px;
  line-height: 24px;
  font-size: 13px;
  position: relative;
}
.j-main .h-right .r-main .r-field {
  position: relative;
  margin-bottom: 3px;
}
.j-main .h-right .r-main .r-field .r-label {
  line-height: 30px;
  margin-top: 16px;
}
.j-main .h-right .r-main .r-field .label-1 {
  width: 50px;
  font-size: 13px;
  float: left;
  color: #666;
  margin-left: 10px;
}
.j-main .h-right .r-main .r-field .r-money {
  font-size: 18px;
  font-weight: 700;
  margin: 13px 1px 0 0 ;
  height: 30px;
  float: left;
}
.j-main .h-right .r-main .r-field .r-money .r-rmb {
  margin-left: 0;
  line-height: 30px;
  color: #d7282d;
  font-size: 18px;
}
.j-main .h-right .r-main .r-field .r-money .r-num {
  font-size: 28px;
  line-height: 30px;
  margin-left: 2px;
  color: #d7282d;
}
.j-main .h-right .r-main .r-field .point-1 {
  color: #666;
}
.j-main .h-right .r-main .r-box {
  height: 45px;
  margin-bottom: 5px;
  overflow: hidden;
}
.j-main .h-right .r-main hr {
  margin: 10px 20px 10px 10px;
  overflow: hidden;
  border: none;
  height: 1px;
  border-bottom: 1px dashed #d2d2d2;
}
.j-main .h-right .r-main .server {
  margin-top: 1px;
}
.j-main .h-right .r-main .server .policyBox {
  margin-left: 65px;
  padding-top: 2px;
  line-height: 20px;
  color: #666;
  overflow: hidden;
}
.j-main .h-right .r-main .server .policyBox .pItem {
  float: left;
  cursor: pointer;
}
.j-main .h-right .r-main .server .policyBox:hover .pItem {
  text-decoration: underline;
}
.j-main .h-right .param {
  margin-left: 10px;
  margin-top: 20px;
}
.j-main .h-right .param .b-param {
  margin-top: 10px;
  position: relative;
  line-height: 1;
  height: 47px;
}
.j-main .h-right .param .b-param .type-1 {
  line-height: 30px;
}
.j-main .h-right .param .b-param .type {
  float: left;
  font-size: 12px;
  color: #666;
  width: 54px;
}
.j-main .h-right .param .b-param .cont {
  position: relative;
  width: 438px;
  float: left;
}
.j-main .h-right .param .b-param .cont .tab-con {
  float: left;
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
  vertical-align: middle;
  padding: 1px;
}
.j-main .h-right .param .b-param .cont .tab-con .tab-txt {
  padding: 0 16px;
  line-height: 28px;
  font-size: 12px;
  color: #333;
  overflow: hidden;
}
.j-main .h-right .param .b-param .cont .tab-con .tab-nav {
  float: left;
  cursor: pointer;
  position: relative;
  color: #333;
  margin: -1px;
}
.j-main .h-right .param .b-param .cont .tab-con .tab {
  border: 1px solid #ddd;
}
.j-main .h-right .param .b-param .cont .tab-con .tab-sel {
  border: 2px solid #b4a078;
}
.j-main .h-right .amount {
  height: 50px;
}
.j-main .h-right .amount .number {
  margin-top: 10px;
  margin-left: 10px;
}
.j-main .h-right .amount .f-left {
  float: left;
}
.j-main .h-right .amount .name-1 {
  line-height: 30px;
}
.j-main .h-right .amount .name {
  float: left;
  font-size: 12px;
  color: #666;
  width: 54px;
  white-space: normal;
}
.j-main .h-right .a-field {
  margin-bottom: 3px;
  position: relative;
}
.j-main .h-right .a-selnum {
  border: 1px solid #ddd;
  overflow: hidden;
}
.j-main .h-right .a-selnum .less {
  border-right: 1px solid #ddd;
}
.j-main .h-right .a-selnum .more {
  border-left: 1px solid #ddd;
}
.j-main .h-right .a-selnum .more {
  cursor: pointer;
}
.j-main .h-right .a-selnum .less,
.j-main .h-right .a-selnum .more,
.j-main .h-right .a-selnum input {
  position: relative;
  float: left;
  width: 36px;
  height: 30px;
  line-height: 28px;
  background: #fff;
  text-align: center;
}
.j-main .h-right .a-selnum input {
  box-sizing: border-box;
  border-radius: 0;
  border: 0;
  width: 60px;
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: #333;
}
.j-main .h-right .caution_tips {
  width: 280px;
  height: 60px;
  background: #000;
  opacity: .8;
  color: #fff;
  position: absolute;
  text-align: center;
  line-height: 60px;
  border-radius: 4px;
  top: 50%;
  left: -20%;
}
.j-main .h-right .btns {
  margin-left: 12px;
  margin-top: 30px;
  font-size: 0;
}
.j-main .h-right .btns .btn {
  margin-right: 10px;
}
.j-main .h-right .btns .r-button {
  border-radius: 2px;
  padding: 0;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.j-main .h-right .btns .r-button-ghost {
  color: #b4a078;
  border: 1px solid #b4a078;
  background-color: #f5f3ef;
}
.j-main .h-right .btns .r-button-ghost:hover {
  color: #c0ae8a;
  border: 1px solid #c0ae8a;
  background-color: #fff;
}
.j-main .h-right .btns .r-button-xl {
  width: 168px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
.j-main .h-right .btns .r-button-primary {
  color: #fff;
  border: 1px solid #b4a078;
  background-color: #b4a078;
}
.j-main .h-right .btns .r-button-primary:hover {
  color: #fff;
  border: 1px solid #b4a078;
  background-color: #bdad8e;
}
.j-main .h-right .btns .r-collect {
  position: relative;
  display: inline-block;
  height: 49px;
  width: 50px;
  border: 1px solid #cccccc;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.j-main .h-right .btns .r-collect .top {
  position: relative;
  overflow: hidden;
  height: 24px;
}
.j-main .h-right .btns .r-collect .top .icon-xingxing {
  display: inline-block;
  margin-top: 6px;
  color: #999;
}
.j-main .h-right .btns .r-collect .bottom,
.j-main .h-right .btns .r-collect .bottom-1 {
  height: 23px;
  font-size: 13px;
  line-height: 23px;
  color: #999;
}
.j-main .c-promnav {
  width: 1090px;
  height: 357px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  position: relative;
}
.j-main .c-promnav {
  margin-top: 40px;
}
.j-main .c-promnav .prom-hd {
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  position: relative;
  background-color: #f5f5f5;
}
.j-main .c-promnav .prom-hd .prom-title {
  display: none;
  text-indent: 18px;
  background-color: #f5f5f5;
}
.j-main .c-promnav .prom-hd .show {
  display: inline-block;
}
.j-main .c-promnav .prom-body-1 {
  position: relative;
  height: 311px;
}
.j-main .c-promnav .prom-body-1 .show {
  display: inline-block;
}
.j-main .c-promnav .prom-body-1 .promItem {
  position: absolute;
  width: 100%;
  left: -30000px;
}
.j-main .c-promnav .prom-body {
  height: 311px;
}
.j-main .c-promnav .prom-body .promItem {
  top: 300px;
}
.j-main .c-promnav .prom-body .active {
  top: 0;
  left: 0;
}
.j-main .c-promnav .m-slickWarp {
  width: 1090px;
}
.j-main .c-promnav .slickContent {
  overflow: hidden;
  margin-top: 12px;
  margin-left: 79px;
  width: 930px;
  height: 307px;
}
.j-main .c-promnav .itemlist {
  margin-right: -30px;
  position: relative;
  display: block;
}
.j-main .c-promnav .itemlist .item {
  float: left;
  margin-right: 10px;
  margin-bottom: 50px;
}
.j-main .c-promnav .itemlist .item .m-product {
  width: 210px;
  height: 210px;
  font-size: 13px;
  text-align: center;
  position: relative;
  line-height: 1;
}
.j-main .c-promnav .itemlist .item .m-product .up {
  background: #fff;
  position: relative;
  overflow: hidden;
}
.j-main .c-promnav .itemlist .item .m-product .up a {
  color: #333333;
  text-decoration: none;
}
.j-main .c-promnav .itemlist .item .m-product .up a img {
  width: 210px;
  height: 210px;
  background: #fff;
  transition: transform 1s;
}
.j-main .c-promnav .itemlist .item .m-product .down .tags {
  width: 200px;
  height: 20px;
  color: #fff;
  overflow: hidden;
  margin: 0 auto 3px;
}
.j-main .c-promnav .itemlist .item .m-product .down .tags .itemtag {
  background: #e36844;
  display: inline-block;
  line-height: 20px;
  padding: 0 5px;
  height: 20px;
  font-size: 12px;
}
.j-main .c-promnav .itemlist .item .m-product .down .introduction {
  padding: 0 10px;
  margin-bottom: 4px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.j-main .c-promnav .itemlist .item .m-product .down .introduction a {
  color: #333;
}
.j-main .c-promnav .itemlist .item .m-product .down .introduction a:hover {
  color: #b4a078;
}
.j-main .c-promnav .itemlist .item .m-product .down .price {
  color: #d4282d;
  text-align: center;
}
.j-main .c-promnav .itemlist .item .m-product .down .price span {
  display: inline-block;
  height: 20px;
  line-height: 22px;
  overflow: hidden;
}
.j-main .c-promnav .itemlist .item .m-product .down .price span span {
  display: inline;
}
.j-main .c-promnav .itemlist .item .m-product .down .price span .money {
  letter-spacing: -4px;
}
.j-main .c-promnav .itemlist .item .m-product .down .price .f-pr {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background: #f5f1ea;
}
.j-main .c-promnav .itemlist .item .m-product .down .price .f-pr .icon-gouwuche {
  color: #666;
}
.j-main .c-promnav .itemlist .item .m-product .down .price .originalprice {
  text-decoration: line-through;
  margin-left: 6px;
  color: #999999;
  font-size: 12px;
}
.j-main .c-promnav .itemlist .item .m-product .down .price .originalprice span {
  display: inline;
}
.j-main .c-promnav .itemlist .item .m-product .down .price .originalprice .money {
  letter-spacing: -5px;
}
.j-main .c-promnav .itemlist .item:hover img {
  cursor: pointer;
  transform: scale(1.05);
}
.j-main .d-body {
  margin-top: 30px;
}
.j-main .d-body .b-left {
  float: left;
  width: 750px;
  margin-right: 40px;
  position: relative;
}
.j-main .d-body .b-left .topTabnav {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.j-main .d-body .b-left .topTabnav .Tabitem {
  overflow: hidden;
  position: relative;
  display: block;
}
.j-main .d-body .b-left .topTabnav .Tabitem .list {
  position: relative;
  z-index: 2;
  float: left;
  text-align: center;
  cursor: pointer;
}
.j-main .d-body .b-left .topTabnav .item-1 {
  background-color: #f5f5f5;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  overflow: initial;
  height: 43px;
}
.j-main .d-body .b-left .topTabnav .item-1 .list {
  width: 170px;
  border: 1px solid #e8e8e8;
  border-left: none;
  background-color: #f5f5f5;
  height: 42px;
  line-height: 40px;
  font-size: 14px;
}
.j-main .d-body .b-left .topTabnav .item-1 .list {
  width: 125px;
  height: 42px;
  border-top: none;
  border-bottom: none;
}
.j-main .d-body .b-left .topTabnav .item-1 .list:first-child {
  width: 124px;
}
.j-main .d-body .b-left .topTabnav .item-1 .active {
  height: 44px;
}
.j-main .d-body .b-left .topTabnav .item-1 .active {
  border-top: 3px solid #b4a078;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #b4a078;
}
.j-main .d-body .b-left .contentTab {
  position: absolute;
  display: none;
}
.j-main .d-body .b-left .show {
  display: block!important;
}
.j-main .d-body .b-left img {
  vertical-align: top;
}
.j-main .d-body .b-left .c-detail {
  padding-top: 18px;
}
.j-main .d-body .b-left .c-detail .c-attrList {
  margin-bottom: 17px;
}
.j-main .d-body .b-left .c-detail .c-attrList .c-item {
  padding: 8px 30px;
  float: left;
  min-width: 50%;
  line-height: 24px;
  font-size: 14px;
  border-bottom: 1px dashed #e8e8e8;
  overflow: hidden;
}
.j-main .d-body .b-left .c-detail .c-attrList .c-item .c-name {
  display: block;
  width: 105px;
}
.j-main .d-body .b-left .c-detail .c-attrList .c-item .c-value {
  color: #999;
}
.j-main .d-body .b-left .c-detail .c-attrList .c-item .c-name,
.j-main .d-body .b-left .c-detail .c-attrList .c-item .c-value {
  float: left;
}
.j-main .d-body .b-left .c-detail .c-img {
  background: #f4f4f4;
  color: #f4f4f4;
}
.j-main .d-body .b-left .c-detail .img {
  width: 100%;
}
.j-main .d-body .b-left .c-detail .short {
  height: auto!important;
}
.j-main .d-body .b-left .c-detaileval {
  min-height: 842px;
  border: 1px solid #e8e8e8;
  border-top: none;
  margin-bottom: 42px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList {
  padding-top: 27px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-goodRates {
  border-right: 1px solid #eaeaea;
  width: 126px;
  text-align: center;
  padding-top: 4px;
  margin-right: 20px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-goodRates .label {
  font-size: 14px;
  color: #666;
  line-height: 14px;
  margin-bottom: 15px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-goodRates .goodRate {
  font-size: 36px;
  color: #E36844;
  line-height: 36px;
  margin-bottom: 8px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .f-left {
  float: left;
}
.j-main .d-body .b-left .c-detaileval .c-detailList li {
  min-height: 110px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-commentNav {
  margin: 0 20px;
  padding: 4px 0 6px;
  overflow: hidden;
  font-size: 14px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-commentNav .title {
  overflow: hidden;
  line-height: 1;
  padding-bottom: 14px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-commentNav .label {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0 7px 0 16px;
  line-height: 26px;
  border-radius: 100px;
  background-color: #F5F3EF;
  cursor: pointer;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-commentNav .active {
  background-color: #b4a078;
  color: #fff;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-sortComment {
  margin: 10px 23px 0 30px;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-sortComment .sorts {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  line-height: 1;
  border-top: 1px dashed #dedede;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-sortComment .sorts .name {
  font-size: 14px;
  color: #999;
  margin-right: 28px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-sortComment .sorts .active {
  color: #b4a078;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-sortComment .sorts .sort {
  margin-right: 30px;
  font-size: 14px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-sortComment .sorts .sort-time {
  margin-right: 30px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item {
  padding: 27px 0 30px;
  margin-left: 30px;
  margin-right: 23px;
  border-bottom: 1px dashed #e8e8e8;
  overflow: hidden;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentUser {
  float: left;
  min-height: 10px;
  width: 70px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentUser .m-pic {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentUser .m-pic img {
  width: 100%;
  height: 100%;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentUser .m-name {
  margin-top: 12px;
  width: 100%;
  height: 18px;
  line-height: 18px;
  text-align: center;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentUser .m-name .username {
  display: inline-block;
  margin: 0;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem {
  float: left;
  margin-left: 20px;
  width: 603px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .sInfo {
  color: #999;
  line-height: 1;
  padding-bottom: 10px;
  font-size: 12px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .content {
  line-height: 20px;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  word-break: break-word;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .picList {
  margin-bottom: 10px;
  overflow: hidden;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .picList .pic-item {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  list-style-type: none;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .picList .pic-item img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .picList .before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .picList .pic-item,
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .picList .before {
  width: 140px;
  height: 140px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .lightBox {
  display: none;
  margin: 10px 0;
  position: relative;
  padding: 50px 0;
  background-color: #f5f5f5;
  border-top: 1px solid #e8e8e8;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .lightBox .slick {
  width: 603px;
  height: 438px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .createTime {
  line-height: 1;
  color: #999;
  font-size: 12px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .reply {
  width: 600px;
  margin-top: 10px;
  padding: 10px 20px 10px 16px;
  background-color: #f5f5f5;
  color: #999;
  font-size: 14px;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .reply .content {
  line-height: 20px;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  word-break: break-word;
}
.j-main .d-body .b-left .c-detaileval .c-detailList .m-item .m-commentItem .reply .content {
  color: #999;
  overflow: hidden;
}
.j-main .d-body .b-left .c-problem {
  padding: 0 50px 20px;
  border: 1px solid #e8e8e8;
  border-top: none;
}
.j-main .d-body .b-left .c-problem .other {
  padding-top: 40px;
  font-size: 14px;
}
.j-main .d-body .b-left .c-problem .other .issue {
  padding-bottom: 32px;
}
.j-main .d-body .b-left .c-problem .other .issue .question {
  line-height: 1;
  padding-bottom: 8px;
}
.j-main .d-body .b-left .c-problem .other .issue .answer {
  line-height: 18px;
  color: #999;
}
.j-main .d-body .b-right {
  float: right;
  width: 300px;
}
.j-main .d-body .b-right .t-hour {
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
.j-main .d-body .b-right .t-hour .t-head {
  line-height: 41px;
  background-color: #f5f5f5;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
.j-main .d-body .b-right .t-hour .t-head,
.j-main .d-body .b-right .t-hour .t-item {
  border-bottom: 1px solid #e8e8e8;
}
.j-main .d-body .b-right .t-hour .t-item {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.j-main .d-body .b-right .t-hour .t-item .img-up {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.j-main .d-body .b-right .t-hour .t-item .img-up .colorNum {
  position: absolute;
  top: 0;
  font-size: 12px;
  color: #a7936e;
  border: 1px solid #b3a07d;
  border-radius: 5px;
  height: 20px;
  text-align: center;
  left: 0;
  padding: 0 4px;
}
.j-main .d-body .b-right .t-hour .t-item .con-down {
  position: relative;
  z-index: 1;
  padding: 0 5px 18px;
}
.j-main .d-body .b-right .t-hour .t-item .con-down .con-title {
  margin-bottom: 8px;
  text-align: center;
}
.j-main .d-body .b-right .t-hour .t-item .con-down .con-title .name {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  max-width: 156px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.j-main .d-body .b-right .t-hour .t-item .con-down a:hover {
  color: #b4a078;
}
.j-main .d-body .b-right .t-hour .t-item .con-down .con-price {
  font-size: 14px;
  line-height: 1;
  color: #d62525;
  text-align: center;
}
.j-main .d-body .b-right .t-hour .t-item .con-down .con-price .counterPrice {
  color: #666;
  text-decoration: line-through;
  margin-left: 5px;
}
.j-main .d-body .b-right .t-hour .t-item .con-down .con-price .f-pr {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background: #f5f1ea;
}
.j-main .d-body .b-right .t-hour .t-item .con-down .con-price .f-pr .icon-gouwuche {
  color: #666;
}
.j-main .d-body .b-right .t-commend {
  width: 300px;
  border: 1px solid #e8e8e8;
}
.j-main .d-body .b-right .t-commend .t-head {
  line-height: 41px;
  background-color: #f5f5f5;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #e8e8e8;
}
.j-main .d-body .b-right .t-commend .t-body {
  padding: 30px 19px;
}
.j-main .d-body .b-right .t-commend .t-body .t-item {
  margin-bottom: 20px;
}
.j-main .d-body .b-right .t-commend .t-body .t-item .t-itemcom {
  position: relative;
  display: block;
  width: 260px;
  height: 140px;
  overflow: hidden;
}
.j-main .d-body .b-right .t-commend .t-body .t-item .t-itemcom .t-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  zoom: 1;
}
.service .s-overlay,
.service .w-mask,
.service .f-tab {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.service .s-overlay {
  position: fixed;
  display: table;
}
.service .s-overlay .contentWrap {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.service .s-overlay-1 {
  z-index: 1000;
  opacity: 1;
}
.service .w-mask {
  background: #000;
}
.service .f-ani-mask {
  opacity: .8!important;
}
.service .f-scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}
.service .f-content {
  transform: scale(1);
  opacity: 1!important;
}
.service .f-pop {
  position: relative;
  width: 500px;
  height: auto;
  min-height: 274px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 10;
  display: none;
}
.service .f-pop .close {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  font-size: 12px;
  word-spacing: normal;
  letter-spacing: normal;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.service .f-policy {
  width: 490px;
  height: 436px;
  border: 1px solid #ddd;
}
.service .f-policy .policyHd {
  font-size: 18px;
  color: #333;
  line-height: 1;
  padding-top: 28px;
  margin: 0 0 40px 18px;
  font-weight: 400;
}
.service .f-policy .policyCt {
  height: 230px;
  width: 468px;
  margin: 0 10px 30px;
  overflow: auto;
  padding: 0 44px;
}
.service .f-policy .policyCt .policyItem {
  margin-bottom: 37px;
}
.service .f-policy .policyCt .left {
  float: left;
  width: 23px;
  height: 16px;
  line-height: 16px;
  font-size: 18px;
  text-align: center;
  color: #b4a078;
}
.service .f-policy .policyCt .right {
  margin-left: 23px;
}
.service .f-policy .policyCt .right .itemTt {
  font-size: 16px;
  line-height: 1;
  color: #b4a078;
  font-weight: 400;
}
.service .f-policy .policyCt .right .itemCt {
  margin-top: 7px;
  font-size: 13px;
  color: #999;
  line-height: 19px;
}
.service .f-policy .policyCt .right table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.service .f-policy .policyCt .right .contentTable {
  font-size: 14px;
  border: 1px solid #d9cfbb;
  margin-top: 10px;
}
.service .f-policy .policyCt .right .contentTable .title {
  width: 100px;
  color: #b4a078;
  text-align: center;
  background: #f4f0ea;
}
.service .f-policy .policyCt .right .contentTable .city {
  width: 260px;
  color: #999;
  padding: 10px;
}
.service .f-policy .policyBtn {
  width: 148px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: #b4a078;
  border-radius: 2px;
}
