@charset "utf-8";
/*header*/
header {
  height: 270px;
}
/*banner*/
.banner-box {
  height: 420px;
  background: #fff;
}
.banner-box .banner {
  max-width: 1920px;
  height: 420px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.banner-box .banner img {
  position: absolute;
  left: 50%;
  transform: translateX(-960px);
}
/*nav*/
.nav-box {
  height: 80px;
  background: #fff;
}
.nav-box nav {
  width: 1090px;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  overflow: hidden;
}
.nav-box nav div {
  float: left;
  width: 48px;
  height: 64px;
  font-size: 24px;
  color: #B4A078;
  line-height: 32px;
  margin-right: 28px;
}
.nav-box nav ul {
  float: left;
  width: 963px;
  height: 60px;
  font-size: 20px;
}
.nav-box nav ul li {
  float: left;
  width: 240px;
  height: 60px;
  border-left: 1px solid #eaeaea;
  line-height: 60px;
}
.nav-box nav ul li img {
  vertical-align: middle;
  margin-right: 16px;
}
/*goods*/
.goods-box {
  padding-bottom: 20px;
  background: #f4f4f4;
}
.goods-box .goods {
  width: 1090px;
  margin: 0 auto;
}
.goods-box .goods .title {
  margin: 0 auto;
  padding-top: 74px;
  padding-bottom: 34px;
  width: 461px;
  height: 29px;
}
.goods-box .goods .title .line {
  background: #ccc;
  position: relative;
  height: 1px;
}
.goods-box .goods .title .line div {
  width: 220px;
  height: 30px;
  text-align: center;
  font-size: 28px;
  color: #333;
  background: #f4f4f4;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-110px);
  line-height: 30px;
}
.goods-box .goods .title .line div img {
  vertical-align: -5px;
}
.goods-box .goods .content {
  width: 1090px;
  height: 480px;
}
.goods-box .goods .content ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.goods-box .goods .content ul li {
  float: left;
  width: 535px;
  height: 220px;
  background: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.goods-box .goods .content ul li:nth-of-type(odd) {
  margin-right: 20px;
}
.goods-box .goods .content ul li .left {
  float: left;
  width: 220px;
  height: 220px;
  overflow: hidden;
}
.goods-box .goods .content ul li .left img {
  transition: all .5s;
}
.goods-box .goods .content ul li .left img:hover {
  transform: scale(1.1);
}
.goods-box .goods .content ul li .right {
  float: left;
  width: 300px;
  padding-left: 15px;
}
.goods-box .goods .content ul li .right h3 {
  font-size: 20px;
  color: #333;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 24px;
  font-weight: 500;
}
.goods-box .goods .content ul li .right h3:hover {
  color: #B4A078;
}
.goods-box .goods .content ul li .right p {
  font-size: 14px;
  color: #999;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 6px;
}
.goods-box .goods .content ul li .right .progress {
  margin-top: 38px;
  width: 220px;
  height: 2px;
  background-color: #F4F4F4;
  border-radius: 2px;
  position: relative;
}
.goods-box .goods .content ul li .right .progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  background-color: #B4A078;
  border-radius: 2px;
  width: 100%;
}
.goods-box .goods .content ul li .right .progress .percent {
  position: absolute;
  color: #B4A078;
  font-size: 16px;
  line-height: 16px;
  top: -7px;
  left: 226px;
  width: 50px;
}
.goods-box .goods .content ul li .right dl {
  margin-top: 37px;
  width: 300px;
  height: 37px;
}
.goods-box .goods .content ul li .right dl dd {
  float: left;
  width: 95px;
  text-align: center;
}
.goods-box .goods .content ul li .right dl dd:nth-child(2) {
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.goods-box .goods .content ul li .right dl dd p {
  font-size: 14px;
  color: #333;
}
.goods-box .goods .content ul li .right dl dd h6 {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
}
.goods-box .goods .main {
  height: auto!important;
  padding-bottom: 40px;
  width: 1090px;
  height: 480px;
}
.goods-box .goods .main ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.goods-box .goods .main ul li {
  float: left;
  width: 535px;
  height: 220px;
  background: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.goods-box .goods .main ul li:nth-of-type(odd) {
  margin-right: 20px;
}
.goods-box .goods .main ul li .left {
  float: left;
  width: 220px;
  height: 220px;
  overflow: hidden;
}
.goods-box .goods .main ul li .left img {
  transition: all .5s;
}
.goods-box .goods .main ul li .left img:hover {
  transform: scale(1.1);
}
.goods-box .goods .main ul li .right {
  float: left;
  width: 300px;
  padding-left: 15px;
}
.goods-box .goods .main ul li .right h3 {
  font-size: 20px;
  color: #333;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 24px;
  font-weight: 500;
}
.goods-box .goods .main ul li .right h3:hover {
  color: #B4A078;
}
.goods-box .goods .main ul li .right p {
  font-size: 14px;
  color: #999;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 6px;
}
.goods-box .goods .main ul li .right .progress {
  margin-top: 38px;
  width: 220px;
  height: 2px;
  background-color: #F4F4F4;
  border-radius: 2px;
  position: relative;
}
.goods-box .goods .main ul li .right .progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  background-color: #B4A078;
  border-radius: 2px;
  width: 100%;
}
.goods-box .goods .main ul li .right .progress .percent {
  position: absolute;
  color: #B4A078;
  font-size: 16px;
  line-height: 16px;
  top: -7px;
  left: 226px;
  width: 50px;
}
.goods-box .goods .main ul li .right dl {
  margin-top: 37px;
  width: 300px;
  height: 37px;
}
.goods-box .goods .main ul li .right dl dd {
  float: left;
  width: 95px;
  text-align: center;
}
.goods-box .goods .main ul li .right dl dd:nth-child(2) {
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.goods-box .goods .main ul li .right dl dd p {
  font-size: 14px;
  color: #333;
}
.goods-box .goods .main ul li .right dl dd h6 {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
}
.goods-box .goods .main .list .right .detail {
  margin-top: 62px;
  width: 300px;
  height: 18px;
  line-height: 18px;
}
.goods-box .goods .main .list .right .detail span {
  display: block;
  width: 75px;
  float: left;
  font-size: 18px;
  color: #2BAB52;
}
.goods-box .goods .main .list .right .detail h6 {
  width: 56px;
  float: right;
  color: #999;
  font-size: 14px;
  font-weight: 400;
}
.goods-box .goods .main .list .right .detail p {
  margin-top: 0;
  width: 60px;
  margin-left: 8px;
  margin-right: 5px;
  float: right;
}
.goods-box .goods .main .list .right .detail p span {
  color: #333;
  font-size: 14px;
  width: 30px;
  text-align: right;
}
.goods-box .goods .main .list .right .detail p span:first-child {
  width: 10px;
  margin-right: 4px;
}
